{% extends 'product/base.html' %}
{% block title %} {{product.name}} {% endblock %}

{% load static %}
{% load humanize %}

{% block content %}
<section class="intro-single">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                  <h1 class="title-single">{{product.name}}</h1>
                  <span class="color-text-a">{{product.category}}</span><br>
                  <span class="color-text-a">shs. {{product.price | intcomma}}</span>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="property-image">
            <img class="w-full img-fluid" src="{{product.image.url}}" alt="Image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="property-details">
            <div class="title-box-d mb-4">
              <h3 class="title-d">Property Description</h3>
            </div>
            <div class="property-description">
              <p class="description color-text-a">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veniam unde impedit quaerat harum,
                voluptatibus reprehenderit dignissimos modi consectetur expedita! Optio ad pariatur possimus rem
                obcaecati saepe. Ea, iure nihil!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim distinctio alias animi quibusdam,
                voluptatum error quo! Omnis culpa est exercitationem et ex nihil, ipsa temporibus ipsam amet iure nam
                distinctio?
              </p>
              <ul class="nav nav-pills nav-pills-a nav-pills mb-4" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-video-tab" data-bs-toggle="pill" href="#pills-video" role="tab"
                    aria-controls="pills-video" aria-selected="true">Cart Options</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-map-tab" data-bs-toggle="pill" href="#pills-map" role="tab"
                    aria-controls="pills-map" aria-selected="false">Inquiries</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-video" role="tabpanel"
                  aria-labelledby="pills-video-tab">
                  <div class="card border-secondary">
                    <div class="card-header bg-blue-200 border-0">
                      <h4 class="font-weight-semi-bold m-0 text-center">Add {{product.name}} to your Cart</h4>
                    </div>
                    <div class="card-body">
                      <div class="d-flex flex-column">
                        <div class="d-flex align-items-center">
                          <div class="quantity-controls d-flex align-items-center">
                            <h6 class="mr-2">Quantity:</h6> <!-- Added text 'Quantity' -->
                            <button type="button" class="btn btn-success ml-3 btn-sm px-3" onclick="decreaseQuantity()">-</button>
                            <span id="quantityDisplay" class="mx-2">1</span>
                            <button type="button" class="btn btn-success btn-sm px-3" onclick="increaseQuantity()">+</button>
                          </div>
                        </div>   
                        </div>
                        <form class="mt-3">
                          {% csrf_token %}
                          <input type="hidden" name="quantity" id="quantity" value="1">
                          <input type="hidden" name="override" value="False">
                          <button type="submit" class="btn btn-danger px-3 mb-2">
                            <i class="fa fa-shopping-cart mr-2"></i> Add To Cart
                          </button>
                          <a href="{% url 'products:home' %}" class="btn btn-primary px-3 mb-2">
                            <i class="fa fa-shopping-cart mr-2"></i> Continue Shopping
                          </a>
                          <a href="{% url 'products:home' %}" class="btn btn-primary px-3 mb-2">
                            <i class="fa fa-shopping-cart mr-2"></i> Request Delivery
                          </a>
                        </form>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                  <div class="card border-secondary">
                    <div class="card-header bg-blue-200 border-0">
                      <h4 class="font-weight-semi-bold m-0 text-center">Send a Message</h4>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="form-group mt-2">
                          <label for="exampleInputPassword1">Content</label>
                          <textarea class="form-control"
                            placeholder="eg. how does the delivery work etc...."></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Send</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section-property section-t8 bg-light py-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Related Products</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in related %}
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card shadow-sm">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Price: shs. {{ item.price | intcomma }}</p>
              <a href="{% url 'products:detail' item.pk %}" class="btn btn-success">View Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</section>

<script>
  function decreaseQuantity() {
      var quantityDisplay = document.getElementById('quantityDisplay');
      var quantityInput = document.getElementById('quantity');
      var currentValue = parseInt(quantityDisplay.innerText);
      if (currentValue > 1) {
          quantityDisplay.innerText = currentValue - 1;
          quantityInput.value = currentValue - 1;  // Update the hidden input field
      }
  }

  function increaseQuantity() {
      var quantityDisplay = document.getElementById('quantityDisplay');
      var quantityInput = document.getElementById('quantity');
      var currentValue = parseInt(quantityDisplay.innerText);
      quantityDisplay.innerText = currentValue + 1;
      quantityInput.value = currentValue + 1;  // Update the hidden input field
  }
</script>
{% endblock %}
